<section data-ng-controller="HomeController">
	<br>
	<div class="jumbotron text-center">
		<div class="row">
			<h1>Start ups Articles</h1>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				A Simple Web Project that allows users to submit ideas about <strong>Start-up</strong> companies
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://www.cdf.toronto.edu/~csc309h/winter/posted_projects/project-individual.pdf" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
</section>